<div class="container-fluid">
    <div style="padding: 5px;">
        <h1 class="text-center">Productos</h1>
        <div class="m-2">
            <button type="button" class="btn btn-success"><i class="fal fa-plus"></i> Agregar</button>
        </div>
        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Producto</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>

                @for(producto of Productos; track $index){
                <tr>
                    <td>{{producto.id}}</td>
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.descripcion}}</td>
                    <td>
                        <span>
                            {{producto.precio }}
                        </span>
                    <td>
                        <img src="{{producto.imagen}}" width="50" height="50" alt="">
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary"  (click)="editarProducto(producto.id)"><i class="fal fa-edit"></i>
                                Editar</button>
                            <button type="button" class="btn btn-danger"><i class="fal fa-trash-alt"></i>
                                Eliminar</button>
                        </div>
                    </td>
                </tr>
                }

            </tbody>
        </table>
    </div>
</div>